<div>
    
    <div class="container">
        <div id="categorymenu">
            <nav class="subnav">
              <ul class="nav-pills categorymenu">       
              </ul>
            </nav>
          </div>
       
        <!-- <div class="search-container"> -->
            <!-- <div class="search-buttons">
                <button class="active">Places to stay</button>
                <button>Monthly stays</button>
                <button>Experiences</button>
                <button>
                    Online Experiences
                    <span>NEW</span>
                </button>
                <div class="menu-indicator"></div>
            </div> -->

            <div class="search-inputs">
                <form action="/search" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Product search..." class="form-control">
                      
                    </div>
                    <div>
                        <button>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-search"
                                width="44"
                                height="44"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="#2c3e50"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="10" cy="10" r="7" />
                                <line x1="21" y1="21" x2="15" y2="15" />
                            </svg>
                            Search
                        </button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
